<div class="container">
  <div class="row">
    <div class="card col-12">
      <div class="h4">
        <%= @artist.name %>
      </div>
      <div class="card-img-top ">
        <%= image_tag @artist.image.url, class:"img-show" %>
      </div>
      <div class="card-body">
        <div class="card-text">
          <%= @artist.profile %>
        </div>
      </div>
    </div>

    <div class="col-12 align-items-center text-center h1 mt-4">
        ライブ予定一覧
    </div>
    <hr class="border-dark my-5">
      <% @posts.each do |post| %>
        <div class="card-deck col-6 mb-4">
          <div class="card">
            <img class="card-img-top">
              <%= image_tag post.image.url %>
            <div class="card-body">
              <h3 class="card-title mb-2 mt-4 text-muted  text-center">
                <%= post.title %>
              </h3>
              <div class="card-text">
                  <%= post.schedule.year %>/<%= post.schedule.mon %>/<%= post.schedule.day %><br>
                Start<%= post.schedule.hour %>:<%= post.schedule.min %>
                <p></p>

                <% if post.watching_method == 0 %>
                  ストリーミング<br>
                <% elsif post.watching_method == 1 %>
                  ライブ<br>
                <% end %>

                <%= post.admission.to_s(:delimited) %><br>

                <%= link_to post_path(post) do %>
                  <p class="btn btn-primary">
                    詳細はこちら<br>
                  </p>
                <% end %>

                <% if member_signed_in? %>
                  <% if post.favorited_by?(current_member) %>
                    <%= link_to fav_posts_path(post), class:"fav", remote: true do %>
                      <i class="fa fa-heart" id="<%= post.id %>"></i>
                    <% end %>
                  <% else %>
                    <%= link_to fav_posts_path(post), class: "fav", remote: true do %>
                      <i class="fa fa-heart-o" id="<%= post.id %>"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <div class="text-right" >
                <%= link_to member_path(post.member_id) do %>
                  <%= image_tag post.member.image.url, class:"member-icon" %>
                  <span class="text-dark">
                    <%= post.member.name %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>