<div class="container">
  <div class="row mb-4">
    <h1><strong><u>Artist show</u></strong></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card ">
      <div class="card-img-top col-6 col-lg-6">
        <%= image_tag @artist.image.url %>
      </div>
    </div>
    <div class="card col-12 col-lg-7">
      <div class="card-body">
        <h4 class="card-title">
          <%= @artist.name %>
        </h4>
        <p class="card-text mb-4">
          <%= @artist.profile %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 align-items-center text-center h1 mt-4">
        ライブ予定一覧
    </div>
  </div>
  <hr class="border-dark my-5">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="card-deck mb-4 col-lg-6 mx-auto">
        <div class="card">
          <img class="card-img-top">
            <%= image_tag post.image.url %>
          <div class="card-body">
            <h5 class="text-muted">
              <%= post.schedule.mon %>月
            </h5>
            <h1 class="card-title">
              <mark><%= post.schedule.day %></mark>
            </h1>

          <h4 class="card-subtitle mt-1 text-center mb-2">
            <%= link_to artist_path(post.artist) do %>
              <u class="text-dark">[<%= post.artist.name %>]</u><br>
            <% end %>
          </h4>
          <h4 class="card-subtitle  text-center mb-4">
            <%= post.title %>
          </h4>

          <p class="card-text">
            <div class="h5"><u>日程</u></div>
            <%= post.schedule.year %>年<%= post.schedule.mon %>月<%= post.schedule.day %>日　<%= post.schedule.hour %>:<%= post.schedule.min %>〜
          </p>
          <p></p>

          <p class="card-text mb-2">
            <div class="h5"><u>視聴方法</u></div>
              <% if post.watching_method == 0 %>
                ストリーミング
              <% elsif post.watching_method == 1 %>
                ライブ
              <% end %>
            <p></p>
          </p>

          <p class="card-text mb-2">
            <div class="h5"><u>料金</u></div>
            <% if post.admission =~ /\A[1-9][0-9]*\z/ %>
              <%= post.admission.to_i.to_s(:delimited) %>円
            <% else  %>
              <%= post.admission %>
            <% end %>
          </p>
          <p></p>

          <%= link_to post_path(post) do %>
            <p class="btn btn-primary mt-2">
              詳細はこちら
            </p>
          <% end %>

          <% if member_signed_in? %>
            <% if post.favorited_by?(current_member) %>
              <%= link_to fav_posts_path(post), class:"fav", remote: true do %>
                <div class="text-right">
                  <i class="fa fa-heart " id="<%= post.id %>"></i>
                </div>
              <% end %>
            <% else %>
              <%= link_to fav_posts_path(post), class: "fav", remote: true do %>
                <div class="text-right">
                  <i class="fa fa-heart-o" id="<%= post.id %>"></i>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <div class="text-right" >
            <%= link_to member_path(post.member_id) do %>
              <%= image_tag post.member.image.url, class:"member-icon" %>
              <span class="text-dark">
                <%= post.member.name %>
              </span>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>