<!-- コメント内容(0件) ------------------------------------------------------------------>
<div class="container">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary mt-3 mb-3"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">コメントを見る</button>
        <%= comments.count %>件
    </div>
      <% comments.first(0).each do |comment| %>
        <% unless comment.id.nil? %>
          <div class="comment-container">
              <div class="comment-box">
                  <div class="comment-avatar">
                    <%= image_tag comment.member.image.url, class:"member-icon" %>
                  </div>
                  <div class="comment-text">
                      <p><%= link_to "@#{comment.member.name}", member_path(comment.member.id) %></p>
                      <div class="comment-entry">
                          <%= comment.content %>
                          <% if comment.member == current_member %>
                              <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                                  <i class="fas fa-trash" style="color: black;"></i>
                              <% end %>
                          <% end %>
                      </div>
                      <span class="comment-date pull-right">
                            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                      </span>
                  </div>
              </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
<!-- コメント内容(3件目以降) ------------------------------------------------------------------>
    <div class="collapse" id="collapseExample">
            <% comments.offset(0).each do |comment| %>
              <% unless comment.id.nil? %>
                <div class="comment-container">
                    <div class="comment-box text-right">
                      <div class="container">
                        <div class="row">
                          <div class="col-12 text-left mt-5">
                            <div id="comment-list mb-2">
                              <%= link_to member_path(comment.member.id) do %>
                                <%= image_tag comment.member.image.url %>
                                <%= "@#{comment.member.name}"  %>
                              <% end %>
                              <%= comment.content %>
                              <% if comment.member == current_member %>
                                <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                                  <i class="fas fa-trash" style="color: black;"></i>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              <% end %>
            <% end %>
    </div>