<!-- コメント内容(0件) ------------------------------------------------------------------>
<button type="button" class="btn btn-primary"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">コメントを見る</button>
  <%= comments.count %>件
<% comments.first(0).each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="comment-container">
        <div class="comment-box">
            <div class="comment-avatar">
              <%= image_tag comment.member.image.url, class:"member-icon" %>
            </div>
            <div class="comment-text">
                <p><%= link_to "@#{comment.member.name}", member_path(comment.member.id) %></p>
                <div class="comment-entry">
                    <%= comment.content %>
                    <% if comment.member == current_member %>
                        <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                            <i class="fas fa-trash" style="color: black;"></i>
                        <% end %>
                    <% end %>
                </div>
                <span class="comment-date pull-right">
                      <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                </span>
            </div>
        </div>
    </div>
  <% end %>
<% end %>
<!-- コメント内容(3件目以降) ------------------------------------------------------------------>
    <div class="collapse" id="collapseExample">
            <% comments.offset(0).each do |comment| %>
              <% unless comment.id.nil? %>
                <div class="comment-container">
                    <div class="comment-box text-right">
                      <table class="table table-borderless">
                        <tr>
                          <td class="text-left mr-0" ><%= image_tag comment.member.image.url %></td>
                          <td class="text-left"><h3><%= comment.content %></h3></td>
                        </tr>
                        <tr>
                          <td class="text-left"><p><%= link_to "@#{comment.member.name}", member_path(comment.member.id) %></p></td>


                          <td  class="text-right">
                            <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                          </td>
                          <td class="text-right">
                            <% if comment.member == current_member %>
                              <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                                <i class="fas fa-trash" style="color: black;"></i>
                              <% end %>
                            <% end %>
                          </td>
                        </tr>
                      </table>

                    </div>
                </div>
              <% end %>
            <% end %>
    </div>