<header class="border-bottom mb-5", style="background-color: #6AC1B7;">
  <div class="header-logo-menu">

    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>

      <div id="nav-content">
        <% if member_signed_in? %>
          <nav class="nav-wrap">
            <ul class="nav navbar-nav">
              <li class="nav-item active m-4 ">
                <%= link_to '', new_post_path, class: 'nav-link fas fa-edit fa-3x h-icon faa-float animated-hover' %>
              </li>
              <li class="nav-item active m-4 ">
                <%= link_to '', artists_path, class: 'nav-link fas fa-user-friends fa-3x h-icon faa-float animated-hover' %>
              </li>
              <li class="nav-item active m-4 ">
                <%= link_to member_path(current_member.id) do %>
                  <%= image_tag current_member.image.url, class:"nav-link member-icon faa-float animated-hover" %>
                <% end %>
              </li>
              <li class="nav-item active m-4 ">
                <%= link_to '', destroy_member_session_path, method: :delete, class: 'nav-link fas fa-sign-out-alt fa-3x h-icon faa-float animated-hover' %>
              </li>
        <% else %>
              <li class="nav-item active m-4 ">
                <%= link_to '', new_post_path, class: 'nav-link fas fa-edit fa-3x h-icon faa-float animated-hover' %>
              </li>
              <li class="nav-item active m-4 ">
                <%= link_to '', artists_path, class: 'nav-link fas fa-user-friends fa-3x h-icon faa-float animated-hover' %>
              </li>
              <li class="nav-item active m-4 ">
                <%= link_to "", new_member_registration_path, class: 'nav-link fas fa-user-plus fa-3x h-icon faa-float animated-hover' %>
              </li>
              <li class="nav-item active m-4 ">
                <%= link_to "", new_member_session_path, class: 'nav-link fas fa-sign-in-alt fa-3x h-icon faa-float animated-hover' %>
              </li>
            </ul>
          </nav>
        <% end %>
      </div>
    </div>
    <div class="logo-area">
      <%= link_to "Parrot", root_path %>
    </div>
  </div>
</header>