<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="card-deck col-6 mb-4">
      <div class="card">
        <img class="card-img-top">
        <%= image_tag post.image.url %>
        <div class="card-body">
          <h2 class="card-title">
            <%= post.artist.name %>
          </h2>

          <h3 class="card-subtitle mb-2 text-muted">
            <%= post.title %>
          </h3>

          <%= post.schedule.year %>/<%= post.schedule.mon %>/<%= post.schedule.day %><br>
          Start<%= post.schedule.hour %>:<%= post.schedule.min %>
          <p></p>

            <% if post.watching_method == 0 %>
              ストリーミング
            <% elsif post.watching_method == 1 %>
              ライブ
            <% end %>
            <p></p>

            <%= post.admission.to_s(:delimited) %>
          <p></p>

          <%= link_to post_path(post) do %>
            <p class="btn btn-primary">
              詳細はこちら
            </p>
          <% end %>

          <% if post.favorited_by?(current_member) %>
            <%= link_to fav_posts_path(post), class:"fav", remote: true do %>
              <i class="fa fa-heart" id="<%= post.id %>"></i>
            <% end %>
          <% else %>
            <%= link_to fav_posts_path(post), class: "fav", remote: true do %>
              <i class="fa fa-heart-o" id="<%= post.id %>"></i>
            <% end %>
          <% end %>


          <div class="" >
            <%= image_tag post.member.image.url, class:"member-icon" %>
          </div>
            <%= post.member.name %>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>