<%= render '/devise/shared/flash_messages' %>
<div class="jscroll">

<% if member_signed_in? %>
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="card-deck col-12 col-lg-6 mb-4">
        <div class="card">
          <img class="card-img-top">
            <%= image_tag post.image.url %>
          <div class="card-body">
            <h1 class="card-title">
              <%= link_to artist_path(post.artist) do %>
              <%= post.artist.name %>
              <% end %>
            </h1>

            <h3 class="card-subtitle mb-2 mt-4 text-muted  text-center">
              <%= post.title %>
            </h3>

            <%= post.schedule.year %>/<%= post.schedule.mon %>/<%= post.schedule.day %><br>
            Start:<%= post.schedule.hour %>:<%= post.schedule.min %>
            <p></p>

              <% if post.watching_method == 0 %>
                ストリーミング
              <% elsif post.watching_method == 1 %>
                ライブ
              <% end %>
              <p></p>

              <%= post.admission.to_s(:delimited) %>
            <p></p>

            <%= link_to post_path(post) do %>
              <p class="btn btn-primary">
                詳細はこちら
              </p>
            <% end %>

              <% if post.favorited_by?(current_member) %>
                <%= link_to fav_posts_path(post), class:"fav", remote: true do %>
                  <i class="fa fa-heart" id="<%= post.id %>"></i>
                <% end %>
              <% else %>
                <%= link_to fav_posts_path(post), class: "fav", remote: true do %>
                  <i class="fa fa-heart-o" id="<%= post.id %>"></i>
                <% end %>
              <% end %>

            <div class="text-right" >
            <%= link_to member_path(post.member_id) do %>
              <%= image_tag post.member.image.url, class:"member-icon" %>
              <span class="text-dark">
                <%= post.member.name %>
              </span>
            <% end %>
            </div>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="body">
  <div class="container">
    <div class="row">
      <div class="main text-center col-12">
        <h1><span class="display-1"><strong>Parrot</strong></span></h1>
        <div></div>
        <h4 class="info mt-4">
          あなたの好きなアーティストのライブ情報を共有できるSNS<br>
        </h4>
        <%= link_to "Let's Post！", new_member_session_path, class:"btn btn-warning btn-lg home-btn mt-4 mb-4" %>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="card-deck col-6 mb-4">
        <div class="card">
          <img class="card-img-top">
            <%= image_tag post.image.url %>
          <div class="card-body">
            <h1 class="card-title">
              <%= link_to artist_path(post.artist) do %>
              <%= post.artist.name %>
              <% end %>
            </h1>

            <h3 class="card-subtitle mb-2 mt-4 text-muted  text-center">
              <%= post.title %>
            </h3>

            <%= post.schedule.year %>/<%= post.schedule.mon %>/<%= post.schedule.day %><br>
            Start<%= post.schedule.hour %>:<%= post.schedule.min %>
            <p></p>

              <% if post.watching_method == 0 %>
                ストリーミング
              <% elsif post.watching_method == 1 %>
                ライブ
              <% end %>
              <p></p>

              <%= post.admission.to_s(:delimited) %>
            <p></p>

            <%= link_to post_path(post) do %>
              <p class="btn btn-primary">
                詳細はこちら
              </p>
            <% end %>

            <div class="text-right" >
            <%= link_to member_path(post.member_id) do %>
              <%= image_tag post.member.image.url, class:"member-icon" %>
              <span class="text-dark">
                <%= post.member.name %>
              </span>
            <% end %>
            </div>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<% end %>
</div>



