<%= render './devise/shared/flash_messages' %>

<div class="container">
  <div class="row">
  <div class="col-12">
    <%= form_for(@post) do |f| %>
    <table class="table">
      <tr>
        <td class="align-middle"><%= f.label :アーティスト名 %></td>
        <td><%= f.collection_select :artist_id, Artist.all, :id, :name, include_blank: "選択してください"  %></td>
      </tr>

      <tr>
        <td class="align-middle "><%= f.label :ライブ名 %></td>
        <td><%= f.text_field :title %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :フライヤー %></td>
        <td>
          <img id="img_prev" class='hidden' />
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: 'post_img' %>
        </td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :イベント詳細 %></td>
        <td><%= f.text_area :introduction %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :場所 %></td>
        <td><%= f.text_field :address %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :日程 %></td>
        <td><%= f.datetime_field :schedule, ignore_data:true %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :視聴方法 %></td>
        <td>
          <%= f.radio_button :watching_method, 0, checked: true %>
          <%= f.label :ストリーミング %><br>
          <%= f.radio_button :watching_method, 1, checked: false %>
          <%= f.label :ライブ %>
        </td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :詳細URL %>
        <td><%= f.text_field :detailed_url %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :料金 %></td>
        <td><%= f.text_field :admission %></td>
      </tr>

      <tr>
        <td><%= f.submit :"Go", data: { confirm: "虚偽の投稿ではないですか？\n虚偽投稿の場合、アカウント停止をさせていただく可能性があります。" }, class: "btn btn-primary btn-block" %></td>
      </tr>
    </table>
    <% end %>
    </div>
  </div>
</div>