<div class="container">
  <div class="row">
  <div class="col-12">
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= I18n.t("errors.messages.not_saved",
                    count: @post.errors.count,
                    resource: @post.class.model_name.human.downcase)
          %>
        </h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-12">
    <%= form_for(@post) do |f| %>
    <table class="table">
      <tr>
        <td class="align-middle"><%= f.label :"アーティスト" %></td>
        <td><%= f.collection_select :artist_id, Artist.all, :id, :name, include_blank: "選択してください"  %></td>
      </tr>

      <tr>
        <td class="align-middle "><%= f.label :"ライブ名" %></td>
        <td><%= f.text_field :title %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :フライヤー %></td>
        <td>
          <img id="img_prev" class='hidden' />
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', id: 'post_img' %>
        </td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :イベント詳細 %></td>
        <td><%= f.text_area :introduction, placeholder: "イベント概要等" %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :会場 %></td>
        <td><%= f.text_field :address %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :日程 %></td>
        <td><%= f.datetime_field :schedule, ignore_data:true %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :視聴方法 %></td>
        <td>
          <%= f.radio_button :watching_method, 0, checked: true %>
          <%= f.label :ストリーミング %><br>
          <%= f.radio_button :watching_method, 1, checked: false %>
          <%= f.label :ライブ %>
        </td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :詳細URL %>
        <td><%= f.text_field :detailed_url, placeholder: "チケット購入URL等" %></td>
      </tr>

      <tr>
        <td class="align-middle"><%= f.label :料金 %></td>
        <td><%= f.text_field :admission, placeholder: "Free or 未定 でも可" %></td>
      </tr>

      <tr>
        <td><%= f.submit :"Go", data: { confirm: "虚偽の投稿ではないですか？\n虚偽投稿の場合、アカウント停止をさせていただく可能性があります。" }, class: "btn btn-primary btn-block" %></td>
      </tr>
    </table>
    <% end %>
    </div>
  </div>
</div>