<div class="container">
  <div class="row">
    <div class="card-deck col-12 mb-4">
      <div class="card">
        <img class="card-img-top">
          <%= image_tag @post.image.url %>
        <div class="card-body">
          <h2 class="card-title">
            <%= @post.artist.name %>
          </h2>

          <h3 class="card-subtitle mb-2 text-muted">
            <%= @post.title %>
          </h3>

          <p class="card-text">
            <%= @post.introduction %>
          </p>

          <p><strong><u>開催日時</u></strong></p>
          <%= @post.schedule %>
          <p></p>

          <p><strong><u>視聴方法</u></strong></p>
            <% if @post.watching_method == 0 %>
              ストリーミング
            <% elsif @post.watching_method == 1 %>
              ライブ
            <% end %>
          <p></p>

          <p><strong><u>詳細URL</u></strong></p>
            <%= @post.detailed_url %>

          <p><strong><u>料金</u></strong></p>
            <%= @post.admission %>
          <p></p>

        </div>
      </div>
    </div>
  </div>
</div>