<div class="container">
  <div class="row">
    <div class="card-deck col-12 mb-4">
      <div class="card">
        <img class="card-img-top">
          <%= image_tag @post.image.url %>
        <div class="card-body">
          <h2 class="card-title">
            <%= @post.artist.name %>
          </h2>

          <h3 class="card-subtitle mb-2 text-muted">
            <%= @post.title %>
          </h3>

          <p class="card-text">
            <%= @post.introduction %>
          </p>

          <p><strong><u>開催日時</u></strong></p>
          <%= @post.schedule %>
          <p></p>

          <p><strong><u>視聴方法</u></strong></p>
            <% if @post.watching_method == 0 %>
              ストリーミング
            <% elsif @post.watching_method == 1 %>
              ライブ
            <% end %>
          <p></p>

          <p><strong><u>詳細URL</u></strong></p>
            <%= text_url_to_link(h(@post.detailed_url)).html_safe %>

          <p><strong><u>料金</u></strong></p>
            <%= @post.admission %>
          <p></p>

          <% if @post.member == current_member %>
            <%= link_to "編集", edit_post_path(@post) %>
            <%= link_to "削除", post_path(@post), method: :delete,  data: {confirm: "本当に削除してもよろしいですか？"} %>
          <% end %>

        </div>
      </div>
    </div>

    <!-- コメント機能-->
    <div class="container pt-5">
      <div class="row">
        <div class="card-deck col-12 mb-4">
          <div class="card">
            <div id="comments_area">
                <%= render partial: 'comments/index', locals: { comments: @comments } %>
            </div>
          </div>
        </div>
        <div class="card-deck col-12 mb-4">
          <div class="card">
            <% if member_signed_in? %>
              <div class="comment-create">
                <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- コメント機能ここまで-->

  </div>
</div>